var del = $(
  '<form class="button_to" method="delete" action="/movies/<%=@new_movie.id%>" data-remote="true"><input data-confirm="Are you sure you want to delete <%=@new_movie.title%>?" type="submit" value="Delete From List"><input type="hidden"/>');
var new_movie_box = $('.movie-display <%=@new_movie.id%>')
$("<div class='movie-display <%=@new_movie.id%>'>\
    <div id='movie-title'><%=@new_movie.title%></div>\
      <img src=<%=@new_movie.poster_url%> alt='Movie Poster' class='movie-poster'>\
  </div>").appendTo('.watch-list').append(del);
$('#movie-search-form form')[0].reset();
$('#movie-search-form form')[1].reset();

var newDirector = "<%=@new_movie.director%>"
var directorsArray = newDirector.split(',')

for (i=0; i < directorsArray.length; i++) {
  $("<option value=" + directorsArray[i] + ">" + directorsArray[i] + "</option>").appendTo('select#director')
}

var newActors = "<%=@new_movie.actors%>"
var actorsArray = newActors.split(',')

for (i=0; i < actorsArray.length; i++) {
  $("<option value=" + actorsArray[i] + ">" + actorsArray[i] + "</option>").appendTo('select#actors')
}
