  <%= form_tag(user_path(current_user), method: :get, remote: :true) do %>
    <%= text_field_tag :runtime, nil, placeholder: 'Runtime' %>
    <%= select_tag 'decade', "<option>Decade</option><option>1950s or earlier</option><option>1960s</option><option>1970s</option><option>1980s</option><option>1990s</option><option>2000s</option><option>2010s</option>".html_safe%>
    <% directors_array = current_user.movies.map { |movie| [movie.director] } %>
    <%= select_tag "director", options_for_select(directors_array), include_blank: "Directors" %>

    <%= text_field_tag :genre, nil, placeholder: 'Genre' %>
    <%= text_field_tag :actors, nil, placeholder: 'Actors' %>
    <%= text_field_tag :awards, nil, placeholder: 'Awards' %>
    <%= submit_tag 'Search' %>
  <% end %>