<div id="logo">
  <h1>WatchNext</h1>
   <%= link_to "Login", login_path, class: "btn blue", remote: true %>
   <div class="login-form">
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
  <% end %>
  </div>
</div>
<div id="about">
  <p>WatchNext will help you eliminate the time spent surfing Netflix and Hulu and get to what matters most - watching films!</p>
</div>

<h3>With WatchNext you can: </h3>
<p>Add and delete movies from a watch list with ease</p>
<p>Search specific parameters to filter through movies in your watch list</p>
<p>Those search parameters include:</p>
  <li>Runtime</li>
  <li>Genre</li>
  <li>Decade</li>
  <li>Actors</li>
  <li>Director</li>
  <li>Awards</li>
  <li>Rotten Tomatoes Score</li>

<h4>Log in with the demo account:</h4>
<p><strong>Login: </strong>haha@haha.com</p>
<p><strong>Password: </strong>haha</p>
