<h1>Hello movie lover, <%=current_user.username%></h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<%end%>

<div class="watch-list">
<%= render 'displayed_movies' %>
</div>



<h2>What movie would you like to add?</h2>
<div class="movie-search-form">
  <%= render 'add_movie' %>
</div>

<h3>Watch a Movie!</h3>

<div class="watch-movie-form">
  <%= form_tag(user_path(current_user), method: :get) do %>
    <%= text_field_tag :runtime, nil, placeholder: 'Runtime' %>
    <%= text_field_tag :decade, nil, placeholder: 'Decade' %>
    <%= text_field_tag :director, nil, placeholder: 'Director' %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>