<h1 id="hello-user">Hello movie lover, <%=current_user.username%></h1>

<div class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice]%>
  <%end%>
</div>

<div class="watch-list">
<%= render 'displayed_movies' %>
</div>


<div class="movie-search-form">

<h2>What movie would you like to add?</h2>
  <%= render 'add_movie' %>
</div>

<h3>Watch a Movie!</h3>

<div class="watch-movie-form">
  <%= render 'search_form' %>
</div>

<div class="returned-movies">
  <%= render 'returned_movies' %>
</div>